.main {
    background-color: #E5E5E5;
    padding-top: 16px;
    display: flex;

    &__left {
        &-name {
            padding-left: 10px;
        }

        &-name-a {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 22px;
            color: #262626;

            &:hover {
                color: black;
            }
        }

        &-name-img {
            margin-right: 8px;
            height: 24px;
            width: 24px;
        }

        &-ul {
            margin-top: 12px;
        }

        &-li {
            display: flex;
            align-items: center;
            height: 32px;
            width: 168px;

            border-radius: 4px;
            justify-content: space-between;
            padding-left: 12px;
            padding-right: 12px;

            &:hover {
                background-color: white;
                cursor: pointer;
                transition: 0.3s;
            }

            &:hover .main__left-feed {
                display: block;
            }

            &:hover .main__left-li-a {
                color: black;
                font-weight: 600;
                transition: 0.3s;
            }
        }

        &-svg-margin {
            margin-right: 10px;
        }

        &-profile {
            height: 20px;
            width: 20px;

        }

        &-feed {
            width: 15px;
            height: 17px;
            fill: #595959;
            display: none;

            &:hover {
                fill: black;

            }
        }

        &-message {
            height: 21px;
            width: 21px;
            fill: #1890FF;
        }

        &-market {
            height: 18px;
            width: 18px;
        }

        &-flag {
            height: 19px;
            width: 19px;
        }

        &-headphones {
            height: 18px;
            width: 18px;
        }

        &-house {
            width: 21px;
            height: 20px;
        }

        &-rocket {
            width: 16px;
            height: 20px;
        }


        &-li-a {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 22px;
            color: #595959;
        }

        &-cup {
            height: 19px;
            width: 19px;
        }

        &-h6 {
            margin-top: 25px;
            margin-left: 10px;
        }

        &-arrow {
            margin-left: 14px;
        }


    }

    &__middle {
        margin-left: 18px;
    }

    &__right {
        margin-left: 24px;
    }
}