.stories {
    background: white;
    width: 344px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;

        &-a {
            font-size: 14px;
            line-height: 22px;
            color: $color1;
        }

        &-block {
            display: flex;
            justify-content: space-between;
            width: 130px;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &-pic {
            width: 48px;
            height: 48px;
            background: #F5F5F5;
            border: 1px solid #D9D9D9;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 12px;
        }

        &-plus {
            font-weight: 600;
            font-size: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #1890FF;
        }

        &-header {
            @include name;

            &:hover {
                color: #FF4A44;
                transition: 0.3s;
            }
        }

        &-footer {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: #8C8C8C;
        }
    }
}

.clock {
    height: 16px;
    width: 16px;
    fill: #0050B3;
}

.point {
    height: 4px;
    width: 4px;
}