@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("fonts/SFProDisplay-Regular.woff2"), url("fonts/SFProDisplay-Regular.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'San Francisco Pro Display';
  src: url("/fonts/SFProDisplay-Semibold.woff2"), url("/fonts/SFProDisplay-Semibold.woff");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'San Francisco Pro Display', sans-serif;
}

.container {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.arrow-down {
  width: 11px;
  height: 10px;
}

.more {
  color: #1890FF;
  margin-top: 13px;
  display: block;
}

.more:hover {
  color: #0050B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.more:hover .main__left-arrow {
  fill: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

hr {
  background: #E8E8E8;
}

.header {
  background: #0050B3;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-input {
  width: 292px;
  height: 32px;
  font-size: 14px;
  line-height: 22px;
  border: none;
  outline: none;
  padding-left: 12px;
}

.header__search-input::-webkit-input-placeholder {
  color: #BFBFBF;
}

.header__search-input:-ms-input-placeholder {
  color: #BFBFBF;
}

.header__search-input::-ms-input-placeholder {
  color: #BFBFBF;
}

.header__search-input::placeholder {
  color: #BFBFBF;
}

.header__search-svg {
  height: 12px;
  width: 12px;
}

.header__search-button {
  margin-left: -1px;
  width: 32px;
  height: 32px;
  background: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__a-person_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__avatar {
  margin-right: 8px;
}

.header__ul-person, .header__ul-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
}

.header__li-person:not(:first-child) {
  border-left: 1px solid black;
}

.header__a-person {
  color: white;
}

.header__a-person:hover {
  color: #E5E5E5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__li-person {
  padding-left: 12px;
  padding-right: 12px;
}

.header__li-title {
  color: white;
}

.header__people-svg {
  width: 18px;
  height: 20px;
}

.header__message-svg {
  width: 21px;
  height: 21px;
}

.header__bell-svg {
  width: 15px;
  height: 20px;
}

.header__ul-message {
  width: 90px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.header__message-li {
  margin-right: 16px;
  position: relative;
}

.header__counter {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid white;
  background: #F5222D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8px;
  right: -10px;
}

.header__counter-span {
  color: white;
  font-size: 14px;
  line-height: 22px;
}

.header__people-svg:hover, .header__message-svg:hover {
  fill: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
}

.header__attention-a {
  margin-right: 5px;
}

.header__attention-a_margin {
  margin-top: -5px;
}

.header__attention-svg {
  width: 21px;
  height: 21px;
}

.main {
  background-color: #E5E5E5;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__left-name {
  padding-left: 10px;
}

.main__left-name-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.main__left-name-a:hover {
  color: black;
}

.main__left-name-img {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.main__left-ul {
  margin-top: 12px;
}

.main__left-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 168px;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.main__left-li:hover {
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__left-li:hover .main__left-feed {
  display: block;
}

.main__left-li:hover .main__left-li-a {
  color: black;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__left-svg-margin {
  margin-right: 10px;
}

.main__left-profile {
  height: 20px;
  width: 20px;
}

.main__left-feed {
  width: 15px;
  height: 17px;
  fill: #595959;
  display: none;
}

.main__left-feed:hover {
  fill: black;
}

.main__left-message {
  height: 21px;
  width: 21px;
  fill: #1890FF;
}

.main__left-market {
  height: 18px;
  width: 18px;
}

.main__left-flag {
  height: 19px;
  width: 19px;
}

.main__left-headphones {
  height: 18px;
  width: 18px;
}

.main__left-house {
  width: 21px;
  height: 20px;
}

.main__left-rocket {
  width: 16px;
  height: 20px;
}

.main__left-li-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.main__left-cup {
  height: 19px;
  width: 19px;
}

.main__left-h6 {
  margin-top: 25px;
  margin-left: 10px;
}

.main__left-arrow {
  fill: #BFBFBF;
  margin-right: 14px;
}

.main__middle {
  margin-left: 18px;
}

.main__right {
  margin-left: 24px;
}

.create {
  width: 588px;
  height: 192px;
  background: white;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.create__header {
  background: #F5F5F5;
  height: 31px;
  padding-left: 16px;
  padding-top: 9px;
}

.create__header-h4 {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.create__top {
  height: 64px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.create__textarea {
  resize: none;
  border: none;
  outline: none;
  height: 20px;
  margin-left: 16px;
  font-size: 16px;
  color: #8C8C8C;
}

.create__hr {
  margin-left: 16px;
  margin-right: 16px;
  background-color: #E8E8E8;
}

.create__bottom {
  margin-top: 16px;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 16px;
  padding-right: 12px;
  height: 40px;
  border-radius: 48px;
  background: #F5F5F5;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 600;
}

.create__bottom-block:not(:last-child) {
  margin-right: 8px;
}

.create__bottom-block:hover {
  background: #e0dede;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.create__bottom-block-menu {
  padding-left: 20px;
}

.create__svg {
  margin-right: 11px;
  width: 24px;
  height: 24px;
}

.create__menu-point {
  fill: #595959;
}

.post {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 25px;
  padding-bottom: 18px;
  margin-top: 16px;
  background: white;
  width: 548px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 16px;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__header-name {
  margin-left: 12px;
}

.post__header-name-a {
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0050B3;
  font-weight: 600;
}

.post__header-setting {
  margin-top: 2px;
  margin-left: 10px;
}

.post__header-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}

.post__text {
  margin-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  width: 550px;
}

.post__like {
  padding-top: 13px;
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__like-a {
  cursor: pointer;
}

.post__like-count {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 5px;
}

.post__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 18px;
}

.post__comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.post__comment-svg {
  margin-right: 10px;
  height: 21px;
  width: 21px;
  fill: #595959;
}

.gear {
  width: 11px;
  height: 12px;
}

.menu-point {
  width: 24px;
  height: 24px;
  fill: #595959;
}

.like {
  width: 13px;
  height: 13px;
  fill: #1890FF;
}

.comment__like {
  width: 18px;
  height: 19px;
  cursor: pointer;
  fill: #595959;
}

.stories {
  background: white;
  width: 344px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.stories__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 16px;
}

.stories__header-a {
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
}

.stories__header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.stories__item-pic {
  width: 48px;
  height: 48px;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-right: 12px;
}

.stories__item-plus {
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1890FF;
}

.stories__item-header {
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0050B3;
  font-weight: 600;
}

.stories__item-header:hover {
  color: #FF4A44;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.stories__item-footer {
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8C8C8C;
}

.clock {
  height: 16px;
  width: 16px;
  fill: #0050B3;
}

.point {
  height: 4px;
  width: 4px;
}
/*# sourceMappingURL=style.css.map */